# IONOS + Passenger (ejemplo)
PassengerEnabled on
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py

# Reemplaza con rutas ABSOLUTAS reales de tu cuenta:
PassengerAppRoot /homepages/xx/dxxxxxxxxx/htdocs/ChequeoPrediosAdhesa
PassengerPython /homepages/xx/dxxxxxxxxx/htdocs/ChequeoPrediosAdhesa/.venv/bin/python
