# IONOS
PassengerEnabled on
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerAppRoot /kunden/homepages/24/d515347316/htdocs/adehsa
PassengerPython /kunden/homepages/24/d515347316/htdocs/adehsa/.venv/bin/python
